version: '3.8'
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  python-model-service:
    build: ./backend/python-model-service
    ports:
      - "5000:5000"
    volumes:
      - ./backend/python-model-service:/app

  smart-alarm-cloud:
    build: ./smart-alarm-cloud
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - SPRING_DATA_REDIS_HOST=redis

volumes:
  redis_data:
