# Canary Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: smart-alarm

resources:
  - ../base
  - backend-canary.yaml
  - frontend-canary.yaml
  - traffic-split.yaml

commonLabels:
  deployment-type: canary

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: smart-alarm-backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: smart-alarm-frontend
