# Canary Kustomization
# Overlays on top of base to add canary deployments
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: smart-alarm

# Include base resources
resources:
  - ../base
  - backend-canary.yaml
  - frontend-canary.yaml
  - traffic-split.yaml

# Common labels for canary resources
commonLabels:
  deployment-type: canary

# Patches can be used to modify base resources
# Example: Reduce stable replicas during canary
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: smart-alarm-backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: smart-alarm-frontend
